#root {
  width: 100%;
  height: 100%; /* Ensure full height */
  display: flex;
  flex-direction: column; /* Ensure the layout is vertical */
}

header {
  width: 100%;
  height: 100px; /* Or any other desired height for the header */
}

main {
  flex-grow: 1; /* Ensures the main section takes up the remaining space */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-container1,
.card-container2,
.card-container3,
.card-container4 {
  animation-name: slideInFromBottom;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
    scale: 0.5;
  }
  to {
    scale: 1;
    transform: translateX(0);
    opacity: 1;
  }
}

/* Location input */
